//
// Version Info resource
//
#include "ver.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,1,5,15
PRODUCTVERSION 1,1,1,0
FILEFLAGSMASK 0x3L
FILEFLAGS 0L
FILEOS 0x10001L
FILETYPE 0x1L
FILESUBTYPE 0x65L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "UUDeview DLL -- 16-Bit\0"
            VALUE "FileVersion", "1.1\0"
            VALUE "InternalName", "UUD16\0"
            VALUE "LegalCopyright", "Copyright (C) 1996-7 Frank Pilhofer, Michael Newcomb\0"
            VALUE "ProductName", "UUDeview-16\0"
            VALUE "ProductVersion", "1.10.1.0\0"
            VALUE "UUDPatchLevel", "0.5.15.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252 
    END
END
